:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}

body {
    background: url('img/bg-desktop.webp') no-repeat center center / cover;
    font-family: "Bai Jamjuree", sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.cartao {
    position: relative;
    margin: 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 2rem);
    perspective: 1000px;
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.2);
}

.cartao__conteudo p {
    margin-top: 4rem;
    padding: 2rem;
    font-size: 1rem;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao:hover .cartao__conteudo,
.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
    background-color: var(--card-front-color);
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    font-size: 0.7rem;
    margin: 0;
}

/* RESPONSIVIDADE */
@media (max-width: 560px) {
    body {
        background: url('img/bg-mobile.webp') no-repeat center center / cover;
    }

    #container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .cartao {
        width: 90%;
        flex-basis: auto;
        height: 18rem;
    }

    .cartao__conteudo h3 {
        font-size: 4vw;
    }

    .cartao__conteudo p {
        font-size: 4vw;
    }
}
